{# Inhalte: site.originStatement und site.proofPoints in src/_data/site.json #}

<section class="cp-section cp-positionierung" id="positionierung" aria-labelledby="positionierung-titel">
  <div class="cp-container">

    <p class="cp-kicker">Positionierung</p>
    <h2 class="cp-h2" id="positionierung-titel">{{ site.originStatement }}</h2>

    <ul class="cp-proofpoints" role="list">
      {%- for point in site.proofPoints %}
      <li class="cp-proofpoint">
        <h3 class="cp-proofpoint__label">{{ point.label }}</h3>
        <p class="cp-proofpoint__description">{{ point.description }}</p>
      </li>
      {%- endfor %}
    </ul>

  </div>
</section>
