<!doctype html>
<html lang="{{ site.lang }}">
<head>
{% include "partials/head.njk" %}
</head>
<body class="cp-body">

  <a class="cp-skip-link" href="#inhalt">Zum Inhalt springen</a>

  {% include "partials/header.njk" %}

  <main class="cp-main" id="inhalt">
    {{ content | safe }}
  </main>

  {% include "partials/footer.njk" %}

</body>
</html>
